@charset "utf-8";
njzcx /* CSS Document */

H1{
	color:blue;
	font-size:50px;
	text-align: center;
	}
rk1{
	color:#0F0;
	font-size:20px;
	text-align: center;
	font:italic small-caps 700 1.2em/1.5em Arial, Helvetica, sans-serif;
	}
	oscar.S.{
		alignment-adjust:central;
		front:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
		color:#0F0;
		background-color:#FC0;
		}
rk2{
	color:#F00;
	font-size:36px;
	}

